header div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 9.375rem;
        .logo{
            height: 100%;
            img{
                background-color: red;
                width: 150px;
                border: 0.0625rem solid black;
                // border-radius: 0.1875rem;
            }
        }
        .d-flex{
            input{
                display: flex;
                margin: 0.3125rem;
                width: 25rem;
                height: 1.875rem;
                border-radius: 1.25rem;
            }
        }
        .botonesHeader{
            a{
                display: flex;
                justify-content: center;
                margin: 0.625rem;
                width: 6.25rem;
                height: 3.75rem;
                border-radius: 0.3125rem;
                border: 0.0313rem solid #000;
                box-shadow: 0.1875rem 0.1875rem rgba(0, 0, 0, 0.105);
                text-decoration: none;
            }
            div{
                margin-right: 10px;
                align-self: center;
                height: 100%;
            }
        }
}
header .categorias{
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    div{
        margin: 0;
        padding: 0;
        width: 50%;
        justify-content: space-around;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
    }
    button{
        width: 7.5rem;
        height: 3.125rem;
        background-color: black;
        border: 1px solid black;
        border-radius: 0.25rem;
        margin: 0.1875rem;
        font-size: 0.9375rem;
        font-weight: 900;
    }
}