@media(max-width:850px){
    header {
        div {
            flex-direction: column;
            width: 100%;
            height: 100%;
            justify-content: end;
            align-items: center;
            .logo{
                margin-left: 0;
            }
            .d-flex{
                width: 100%;
                input{
                    width: 80%;
                }
            }
        } 
        
        .categorias{
            height: 12.5rem;
            div{
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                justify-content: center;
            }
        }
    }
    main .articulos{
        justify-content: start;
        .filtroArticulos{
            .filtro{
                width: 19rem;
            }
            .articulosVenta{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                // height: 159.375rem;
                ul.cadaArticuloVenta{
                    list-style: none;
                    padding: 20px;
                    display: grid;
                    width: 100%;
                    height: 150.625rem;
                    grid-template-rows: repeat(6, 1fr);
                    grid-template-columns: repeat(1, 1fr);
                    grid-template-areas: 
                    "art-1" 
                    "art-2"
                    "art-3"
                    "art-4"
                    "art-5"
                    "art-6";
                }
            }
        }
        nav{
            display: flex;
            flex-direction: column;
            justify-self: center;
            align-items: center;
        }
        
    }
    main section .iniciarSesion{
        .login{
            width: 15.625rem;
            padding: 0.9375rem;
            margin: 0.625rem;
            border: 0.0625rem solid black;
            input{
                border-radius: 5px;
                font-size: 1.5625rem;
                margin:  10px 0 10px 0;
            }
            .botonesLogin{
                display: flex;
                flex-direction: column-reverse;
                button{
                    margin: 10px;
                    padding: 10px;
                    width: 100%;
                    height: 50px;
                    border-radius: 10px;
                }
            }
        }
    }
}


@media(max-width:690px){
    
}